@import './mixins';
@import './variables';

body {
    box-sizing: border-box;
    margin: 0 auto;
    bottom: 0;
    width: 90%;
    font-size: 1rem;
    background-color: $primary_color;
}

button,
a {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

.header,
.footer {
    &::after {
        position: absolute;
        content: '';
        height: calc($base / 2.5);
        width: 90%;
        background-color: $secondary_color;
    }
}

.header{
    @include flex-center;
    justify-content: space-between;

    &__buttons{
        display: flex;
        gap: 1rem;

        button{
            padding: $base calc($base * 4);
            border-radius: $base;
            border: calc($base / 5) solid $secondary_color;
        }
    }

    &::after {
        top: 10%;
        left: 5%;
    }
}

.content {
    height: 70vh;
}

.product-list__wrapper{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: calc($base * 5) 0;
    overflow-y: auto;
}


.product {
    @include flex-center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    padding: 2.1rem 0;
    border: calc($base / 5) solid $secondary_color;
    border-radius: $base;

    .delete-checkbox {
        position: absolute;
        content: '';
        top: 5%;
        left: 5%;
    }
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    margin: calc($base * 5) 0;

    &__input-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;

        input {
            &[type="number"]::-webkit-inner-spin-button,
            &[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type="number"] {
                -moz-appearance: textfield; 
            }
        }
    }
}

.footer {
    position: relative;
    text-align: center;

    &::after {
        top: 0%;
        left: 0%;
        width: 100%;
    }
}